.info-window {
  opacity: 0.2;
}

/* .info-window p {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
} */

.info-window-enter {
  right: -165%;
  opacity: 0.2;
}

.info-window-enter-active {
  right: -120%;
  opacity: 1;
}

.info-window.active {
  right: -145%;
  opacity: 0;
}

.info-window-enter-done {
  right: -120%;
  opacity: 1;
}
