.cities-search-result-list {
  list-style: none;
  text-align: left;
  padding-left: unset;
}

.cities-search-result {
  margin-bottom: 10px;
}

.search-result-city-btn {
  width: 300px;
  line-height: 1.9;
  height: 50px;
  overflow: hidden;
}

.fetching-message {
  margin-top: 20px;
}
