.error-message-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: absolute;
  transition: all 0.3s;
}

.error-message,
.registered-message {
  padding: 12px 24px;
  border-radius: 5px;
  font-weight: 700;
}

.error-message {
  background-color: #ff444f;
  color: #383838;
}

.registered-message {
  background-color: #077a22;
}
