.register-form-main-container {
  display: flex;
}

.register-form-container {
  background-color: #3a3a3a;
  padding: 100px 75px 50px 75px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  position: relative;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 40px;
}

.register-form.arrow-back-container {
  position: absolute;
  top: 5%;
  left: 5%;
  border-radius: 50%;
  padding: 5px;
  transition: all 0.3s;
}

.register-form.arrow-back-container:hover {
  background-color: #5a5a5a;
}

.register-form-title {
  font-size: 2.4rem;
}

.register-form-title.subtitle {
  display: block;
  margin-top: 20px;
  font-size: 2rem;
}

.register-form-title.subtitle.emoji {
  transform: rotate(90deg);
  display: inline-block;
  margin: 0 0 0 20px;
}

.input-container {
  position: relative;
}

.register-form__email-input,
.register-form__pass-input {
  padding: 12px 16px;
  font-size: 18px;
  border-radius: 5px;
  width: 400px;
}

.register-form__email-input-label,
.register-form__pass-input-label {
  position: absolute;
  top: 12px;
  left: 16px;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.4s;
}

.register-form__email-input:focus ~ .register-form__email-input-label,
.register-form__email-input-label.active,
.register-form__pass-input:focus ~ .register-form__pass-input-label,
.register-form__pass-input-label.active {
  top: -20px;
  left: 5px;
  font-size: 11px;
}

.register-form__pass-input .valid {
  border: 2px solid green;
}

.pass-str-check-container {
  width: 400px;
  border: 3px solid #fff;
  border-radius: 50px;
  height: 20px;
  z-index: 100;
  opacity: 0.2;
  position: absolute;
  bottom: 10%;
  transition: all 0.3s;
}

.pass-str-check-container-filling {
  transition: all 0.3s;
  width: 0;
  margin-left: 1px;
  height: 100%;
  border-radius: inherit;
}

.pass-str-check-container-enter {
  opacity: 1;
  bottom: 10%;
}

.pass-str-check-container-enter-active {
  opacity: 1;
  bottom: 16%;
}

.pass-str-check-container-active {
  opacity: 0;
  bottom: 10%;
}

.pass-str-check-container-enter-done {
  opacity: 1;
  bottom: 16%;
}

.pass-str-check-container-exit {
  opacity: 0.5;
  bottom: 10%;
}

.pass-str-check-container-exit-active {
  opacity: 0;
  bottom: 10%;
}

.show-hide-button {
  padding: 4px;
  border-radius: 20px;
  background-color: transparent;
  position: absolute;
  right: 8px;
  top: 8px;
  padding-bottom: 0;
  transition: all 0.3s;
}

.show-hide-button:hover {
  border-color: transparent;
  background: #b3b3b3;
}

.show-hide-button img {
  width: 24px;
  height: auto;
}

.show-hide-button:focus {
  outline: none;
}

.password-empty {
  width: 0%;
}

.password-very-weak {
  width: 25%;
  background-color: #ff444f;
}

.password-weak {
  width: 50%;
  background-color: #ffc107;
}

.password-medium {
  width: 75%;
  background-color: #17a2b8;
}

.password-strong {
  width: 100%;
  background-color: #28a745;
}

.pass-str-check-filling-description {
  font-size: 16px;
  margin-top: 7px;
}

.register-form__bottom-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.submit-button,
.login-redirect-button {
  border-radius: 5px;
}

.submit-button {
  padding: 12px 24px;
  cursor: pointer;
  background-color: #646464;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.login-redirect-button {
  position: relative;
  width: 200px;
  height: 43px;
  color: #e6e6e6;
  background-color: #646464;
}

.login-redirect-button::before {
  content: "Already have account?";
  position: absolute;
  display: inline-block;
  width: 100%;
  left: 0;
  right: 0;
  top: 10px;
  transition: all 0.3s;
  pointer-events: none;
}

.login-redirect-button::after {
  content: "Login here";
  color: #e6e6e6;
  position: absolute;
  bottom: -30px;
  opacity: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.login-redirect-button:hover::after {
  bottom: 10px;
  opacity: 1;
}

.login-redirect-button:hover::before {
  top: -30px;
  opacity: 0;
}

.register-form__img-container {
  display: flex;
}

.register-form__img {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
