.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  position: relative;
}

.input-container {
  position: relative;
}

.register-form__email-input,
.register-form__pass-input {
  padding: 12px 16px;
  font-size: 18px;
  /* border: 2px solid #666eff; */
  border-radius: 5px;
  width: 400px;
}

.register-form__email-input-label,
.register-form__pass-input-label {
  position: absolute;
  top: 12px;
  left: 16px;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.4s;
}

.register-form__email-input:focus ~ .register-form__email-input-label,
.register-form__email-input-label.active,
.register-form__pass-input:focus ~ .register-form__pass-input-label,
.register-form__pass-input-label.active {
  top: -25px;
  left: 0;
  font-size: 11px;
}

.register-form__pass-input .valid {
  border: 2px solid green;
}

.pass-str-check-container {
  width: 400px;
  border: 3px solid #fff;
  border-radius: 50px;
  height: 20px;
  z-index: 100;
  opacity: 0.2;
  position: absolute;
  bottom: 30px;
  transition: all 0.3s;
}

.pass-str-check-container-filling {
  transition: all 0.3s;
  width: 0;
  /* width: 25%;
  background-color: #ff444f; */
  margin-left: 1px;
  height: 100%;
  border-radius: inherit;
}

.pass-str-check-container-enter {
  opacity: 1;
  bottom: 5%;
}

.pass-str-check-container-enter-active {
  opacity: 1;
  bottom: 22%;
}

.pass-str-check-container-active {
  opacity: 0;
  bottom: 12%;
}

.pass-str-check-container-enter-done {
  opacity: 1;
  bottom: 22%;
}

.pass-str-check-container-exit {
  opacity: 0.5;
  bottom: 15%;
}

.pass-str-check-container-exit-active {
  opacity: 0;
  bottom: 12%;
}

.show-hide-button {
  padding: 4px;
  border-radius: 20px;
  background-color: transparent;
  position: absolute;
  right: 8px;
  top: 8px;
  padding-bottom: 0;
  transition: all 0.3s;
}

.show-hide-button:hover {
  border-color: transparent;
  background: #b3b3b3;
}

.show-hide-button img {
  width: 24px;
  height: auto;
}

.show-hide-button:focus {
  outline: none;
}

.password-empty {
  width: 0%;
}

.password-very-weak {
  width: 25%;
  background-color: #ff444f;
}

.password-weak {
  width: 50%;
  background-color: #ffc107;
}

.password-medium {
  width: 75%;
  background-color: #17a2b8;
}

.password-strong {
  width: 100%;
  background-color: #28a745;
}

.pass-str-check-filling-description {
  font-size: 16px;
  margin-top: 7px;
}
